/* We will lock the site to dark mode via docusaurus.config.js.
 * We can put all styles in [data-theme='dark'] to ensure they apply.
 */
[data-theme='dark'] {
  /* COLOR PALETTE */

  /* HTB Green for main brand color */
  --ifm-color-primary: #9fef00;
  --ifm-color-primary-dark: #8ee000;
  --ifm-color-primary-darker: #82cd00;
  --ifm-color-primary-darkest: #6ba900;
  --ifm-color-primary-light: #b0ff1a;
  --ifm-color-primary-lighter: #b8ff33;
  --ifm-color-primary-lightest: #c8ff66;

  /* GitHub Dark Charcoal background */
  --ifm-background-color: #0d1117;
  --ifm-background-surface-color: #0d1117;

  /* Light gray for body text */
  --ifm-font-color-base: #c0c0c0;

  /* Make all links use the HTB green */
  --ifm-link-color: var(--ifm-color-primary);

  /* MULTI-LINE CODE BLOCKS ( ```code``` ) */
  /* This rule applies to the large code blocks */
  .prism-code-block {
    background: #010101 !important;
    border: 1px solid #333;
  }

  /* INLINE CODE STYLING ( `code` ) */
  /* This rule styles inline code */
  code {
    background-color: #010101; /* Match the block background */
    border: 1px solid #333; /* Match the block border */
    color: var(--ifm-color-primary); /* Use HTB green for text */
    padding: 0.1em 0.3em; /* Add a little space */
    border-radius: 4px; /* Slightly rounded corners */
  }

  /* Make all headers use the HTB green */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--ifm-color-primary);
  }

  /* GLITCH EFFECT ON ALL HEADINGS (ON HOVER) */
  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    animation: glitch-effect 0.4s linear infinite;
  }
}

/* ANIMATIONS */

/* Chromatic Aberration Glitch Effect */
@keyframes glitch-effect {
  0% {
    text-shadow: -2px -2px 0px rgba(255, 0, 0, 0.5),
      1px 1px 0px rgba(159, 239, 0, 0.5);
  }
  25% {
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.5),
      -1px -1px 0px rgba(159, 239, 0, 0.5);
  }
  50% {
    text-shadow: 2px -2px 0px rgba(255, 0, 0, 0.5),
      -1px 2px 0px rgba(159, 239, 0, 0.5);
  }
  75% {
    text-shadow: -2px 2px 0px rgba(255, 0, 0, 0.5),
      2px -2px 0px rgba(159, 239, 0, 0.5);
  }
  100% {
    text-shadow: -2px -2px 0px rgba(255, 0, 0, 0.5),
      1px 1px 0px rgba(159, 239, 0, 0.5);
  }
}

/* Hide the footer */
.footer {
  display: none;
}