.homepageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.introText {
  font-size: 1.25rem;
  text-align: center;
  max-width: 700px;
  color: var(--ifm-font-color-base);
  margin-top: 1rem;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #2a3443;
  width: 80%;
  max-width: 800px;
  margin-top: 3rem;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .homepageContainer {
    padding: 1rem 0;
  }
  .introText {
    font-size: 1.1rem; 
  }
}